@page
@model Lao_MomBlog.Pages.Post.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].PubDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].LastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].IsPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Excerpt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Excerpt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
